<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% block head %}{% endblock %}
    <nav>
        <div class="navbar">
            <h2 class="navbar-title">BRAVO</h2>
            <ul class="navbar-links">
                <li><a href="/" class="navbar-link-href">Home</a></li>
                <li><a href="/camera" class="navbar-link-href">Cameras</a></li>
                <li><a href="/buffer" class="navbar-link-href">Buffer</a></li>
                <li><a href="/plugins" class="navbar-link-href">Plugins</a></li>
                <li><a href="/output" class="navbar-link-href">Output</a></li>
            </ul>
        </div>
    </nav>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>