{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Edit buffer</h2>
    <div class="align-center">
        <form action="/buffer/edit/{{id}}" method="POST" class="pluginEditForm">
            <label for="limit" class="label">Buffer limit:</label><br>
            <input type="number" name="limit" id="limit" value={{limit}}>
            <label for="mode" class="label">Buffering mode:</label><br>
            <select name="mode" id="mode" >
                <option value="infinity">Infinite</option>
                <option value="throw-old" selected>Throw old</option>
                <option value="throw-new">Throw new</option>
            </select>
            <input type="submit" value="Save">
        </form>
    </div>
</div>

{% endblock %}