{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Active buffers</h2>
    <div class="gray">
        {% if list|length < 1 %}
        <h4 class="emptyList" >There are no active buffers.</h4>
        {%else%}
        <table class="bufferlist">
            <tr>
                <th>Id</th>
                <th>Mode</th>
                <th>Limit</th>
                <th>Actions</th>
            </tr>
            {% for buff in list %}
            <tr>
                <td>{{ buff }}</td>
                <td>{{ list[buff][0] }}</td>
                <td>{{ list[buff][1] }}</td>
                <td>
                    <a href="/buffer/edit/{{buff}}">Set</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {%endif%}
    </div>
    {% for message in get_flashed_messages() %}
      <div class="alert">Message: {{ message }}</div>
    {% endfor %}
</div>

{% endblock %}