{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Active cameras</h2>
    <div class="gray">
        {% if list|length < 1 %}
        <h4 class="emptyList" >There is nothing to show. Please add cameras below.</h4>
        {%else%}
        <table class="cameralist">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Source</th>
                <th>Actions</th>
            </tr>
            {% for cam in list %}
            <tr>
                <td>{{ cam }}</td>
                <td>{{ list[cam][0] }}</td>
                <td><div class="hidelongtext">{{ list[cam][1] }}</div></td>
                <td>
                    <a href="/camera/update/{{cam}}">Update</a>
                    <br>
                    <a href="/camera/delete/{{cam}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {%endif%}
    </div>
    {% for message in get_flashed_messages() %}
      <div class="alert">Message: {{ message }}</div>
    {% endfor %}
    <div class="align-center">
        <form action="/camera/add" method="POST" class="camAddForm">
            <label for="name" class="label">Name:</label><br>
            <input type="text" name="name" id="name"><br>
            <label for="source" class="label">Source:</label><br>
            <input type="text" name="source" id="source"><br>
            <label for="format" class="label">Source type:</label><br>
            <select name="format" id="format" >
                <option value="int">Int</option>
                <option value="str" selected>Str</option>
            </select><br>
            <input type="submit" value="Add camera">
        </form>
    </div>
</div>

{% endblock %}