{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Update camera</h2>
    <div class="align-center">
        <form action="/camera/update/{{id}}" method="POST" class="camAddForm">
            <label for="config" class="label">Preset:</label><br>
            <select name="config" id="config" selected={{optDefault}}>
                {% for file in options %}
                    {% if file==optDefault %}
                        <option value={{file}} selected>{{file}}</option>
                    {%else%}
                        <option value={{file}}>{{file}}</option>
                    {%endif%}
                {% endfor %}
            </select>
            <label for="name" class="label">Name:</label><br>
            <input type="text" name="name" id="name" value={{name}}>
            <label for="source" class="label">Source:</label><br>
            <input type="text" name="source" id="source" value={{source}}>
            <label for="format" class="label">Use source as:</label><br>
            <select name="format" id="format" >
                <option value="int">Int</option>
                <option value="str" selected>String</option>
            </select>
            <input type="submit" value="Update camera">
        </form>
    </div>
</div>

{% endblock %}