{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Live data</h2>

    
    <p id="profiles"></p>

    <script>

        function getData(id, element){
            let request = new XMLHttpRequest();
            url = '/getdata/'+String(id);
            request.open('GET', url);
            request.send();
            request.onload = () => {
                data = JSON.parse(request.response);
                console.log(data);

                section=""

                for (var key in data){
                    value = data[key]
                    name = value["Identity"]
                    emotion = value['PredictedEmotion']
                    secondary = value['SecondaryEmotion']
                    if (key == "" ) name = "Unidentified person"
                    else name = key
                    section = section + "<div class=\"personData\"> <h3>Name: "+ name
                                      +"</h3><p>Emotion: "+ emotion +"</p>"
                                      +"<p>Secondary: "+ secondary +"</p>"
                                      + "</div>";
                }

                if (Object.keys(data).length === 0)
                    section = "<div class=\"personData\"><p>Missing incoming data..</p></div>"

                element.innerHTML = section;
            }
        }

        function create(){
            const element = document.getElementById("profiles");
            data = getData("{{name}}", element);
        }
        
        setInterval( create , 2000);
    </script>

</div>

{% endblock %}