{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <div class="home-intro">
        <h4 class="headline-title">Welcome at the configuration wizard!</h4>
        <h1>Framework for configurable video analysis</h1>
        <h5 class="headline-detail">2022 FIT CTU | Benedek Molnár - molnaben@fit.cvut.cz | Supervisor: Ing. Jan Hejda, Ph.D.</h5>
        <br>
        <div class="info">
        <p>Please read the README for more information.</p>
        <h3>Quick guide for setting up a pipeline:<br></h3>
            <p class="left-margin">
            1. Add a camera on the camera page.<br>
                - If you have a webcamera available, it should have an integer ID of 0 (or 1)<br>
                - To read a video file, the source is the path to the file, and the type is str<br>
            2. Add a plugin manager on the plugins page.<br>
            3. On the output page select the created camera and the manager, click add process.</p>
            <p>Note: To be able to use the analyzer you must have included the VizEmo package and installed all its required packages.</p>
            <p>Note: To be able to use the database saver you must have a database set up and the credentials logged in the login.json file.</p>
        </div>
    </div>
</div>

{% endblock %}