{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Active plugins</h2>
    <div class="gray">
        {% if list|length < 1 %}
        <h4 class="emptyList" >There is no active plugins. Please add a plugin below.</h4>
        {%else%}
        <table class="cameralist">
            <tr>
                <th>ID</th>
                <th>Plugin</th>
                <th>Actions</th>
            </tr>
            {% for plugin in list %}
            <tr>
                <td>{{ plugin }}</td>
                <td>{{list[plugin]}}</td>
                <td>
                    <a href="/plugins/data/{{name}}/{{plugin}}">Get data</a><br>
                    <a href="/plugins/edit/{{name}}/{{plugin}}">Modify</a><br>
                    <a href="/plugins/edit/{{name}}/moveup/{{plugin}}">Move Up</a><br>
                    <a href="/plugins/edit/{{name}}/movedown/{{plugin}}">Move Down</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {%endif%}
    </div>
    {% for message in get_flashed_messages() %}
      <div class="alert">Message: {{ message }}</div>
    {% endfor %}
    <div class="align-center">
        <form action="/plugins/edit/{{name}}/add" method="POST" class="pluginManagerAddForm">
            <select name="plugin" id="plugin">
                {% for item in plugins %}
                    <option value={{item}}>{{item}}</option>
                {% endfor %}
                    <option value="None" selected>Choose a plugin..</option>
            </select>
            <input type="submit" value="Add plugin">
        </form>
    </div>
</div>

{% endblock %}