{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Active outputs</h2>
    <div class="gray">
        {% if actives|length < 1 %}
        <h4 class="emptyList" >There is nothing to show. Please start a process below.</h4>
        {%else%}
        <table class="activeList">
            <tr>
                <th>Source ID</th>
                <th>Mode</th>
                <th>Manager</th>
                <th>Actions</th>
            </tr>
            {% for out in actives %}
            <tr>
                <td>{{ out }}</td>
                <td>{{ actives[out][0] }}</td>
                <td>{{ actives[out][1] }}</td>
                <td>
                    <a href="/live/{{actives[out][1]}}">Live</a><br>
                    <a href="/output/stop/{{out}}">Stop</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {%endif%}
    </div>
    {% for message in get_flashed_messages() %}
      <div class="alert">Message: {{ message }}</div>
    {% endfor %}
    <div class="align-center">
        <form action="/output/add" method="POST" class="processForm">
            <label for="camera" class="label">Camera:</label><br>
            <select name="camera" id="camera">
                {% for cam in cameras %}
                        <option value={{cam}}>{{cameras[cam][0]}}</option>
                {% endfor %}
                <option value="None" selected>Select a camera..</option>
            </select>
            <label for="plugin" class="label">Plugin manager:</label><br>
            <select name="plugin" id="plugin">
                {% for manager in managers %}
                        <option value={{manager}}>{{manager}}</option>
                {% endfor %}
                <option value="None" selected>Select a plugin manager..</option>
            </select>
            <label for="mode" class="label">Output mode:</label><br>
            <select name="mode" id="mode">
                <option value=1>Live view</option>
                <option value=2>Save to file</option>
                <option value=3>Only process</option>
            </select>
            <label for="args" class="label">Arguments:</label><br>
            <input type="text" name="args" id="args" value='"filename":"src\\fileOutput\\video.avi","fps":24'>
            <input type="submit" value="Add process">
        </form>
    </div>
</div>

{% endblock %}