{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Active plugins</h2>
    <div class="align-center">
        {% if params|length < 1 %}
            <h4 class="emptyList" >There is nothing to edit.</h4>
        {%else%}
            {% for message in get_flashed_messages() %}
            <div class="alert">Message: {{ message }}</div>
            {% endfor %}
            <form action="/plugins/edit/{{name}}/{{id}}" method="POST" class="pluginEditForm">
                {% for item in params %}
                    <label for="{{item}}" class="label">{{item}}:</label><br>
                    {% if item == "Active" %}
                    <select name="{{item}}" id="{{item}}">
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                    </select>
                    {%else%}
                    <input type="text" name="{{item}}" id="{{item}}" value={{params[item]}}>
                    {%endif%}
                {%endfor%}
                <input type="submit" value="Save">
            </form>
        {%endif%}
    </div>
</div>

{% endblock %}