{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="main">
    <h2 class="page-title">Active plugin managers</h2>
    <div class="gray">
    {% if list|length < 1 %}
    <h4 class="emptyList" >There is nothing to show. Please add a manager below.</h4>
    {%else%}
    <table class="pluginlist">
        <tr>
            <th>Name</th>
            <th>Plugins</th>
            <th>Actions</th>
        </tr>
        {% for key in list %}
        <tr>
            <td>{{ key }}</td>
            <td>
                {% for name in list[key] %}
                    <p>{{name[0]}} : {{name[1]}}</p>
                {%endfor%}
            </td>
            <td>
                <a href="/plugins/edit/{{key}}">Modify</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {%endif%}
    </div>
    {% for message in get_flashed_messages() %}
      <div class="alert">Message: {{ message }}</div>
    {% endfor %}
    <div class="align-center">
        <form action="/plugins/add" method="POST" class="pluginManagerAddForm">
            <label for="name" class="label">Name:</label><br>
            <input type="text" name="name" id="name">
            <input type="submit" value="Add plugin manager">
        </form>
    </div>
</div>

{% endblock %}