body{
    font-family: sans-serif;
    margin: 0;
}

/**
NAVIGATION BAR SETUP
*/
.navbar{
    width: 100%;
    display: flex;
    align-items: center;

    background-color: #225869;
    color: white;
}

.navbar a:hover{
    cursor: pointer;
    color: white;
}

.navbar-title{
    width: 50%;
    margin-left: 10%;
}

.navbar-links{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10%;
}

.navbar-link-href{
    margin: 5px;
    text-decoration: none;
    color: white;
}

.content{
    width: 80%;
    margin: auto;
}

/*
    MAIN PAGE
*/
.main{
    width: 100%;
    margin: auto;
    margin-top:5%;
}

.home-intro{
    margin-left: 10%;
}

.page-title{
    text-align: center;
    margin-bottom: 3%;
}

.headline-title{
    color:gray;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: -1em;
}

.headline-detail{
    margin-top: -1em;
    font-weight: 300;
}

.gray{
    background-color: #f1f1f1;
    padding: 5% 0;
    margin: 3% 0;
}

a{
    text-decoration: none;
    color: #225869;
    font-size: 0.9em;
}

a:hover{
    cursor: pointer;
    color:#12262c;
}

input {
    width: 100%;
    padding: 16px 2%;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin: 0.5em 0;
}

input[type=text]{
    width: 96%;
}

input[type=submit]{
    background-color: #225869;
    color: white;
    margin-top: 1em;
}


input[type=submit]:hover{
    background-color: #408094;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin: 0.5em 0;
}

form{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 40%;
}

.align-center{
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-margin{
    margin-left: 2em;
}

.info{
    font-size: 0.9em;
}

table{
    width: 60%;
    margin: auto;
    text-align: center;
}

.hidelongtext{
    margin: auto;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidelongtext:hover {
    overflow: visible;
}

.emptyList{
    text-align: center;
}

.personData{
    text-align: center;
    background-color: #f1f1f1;
    padding: 5% 0%;
}

/**
ALERT MESSAGES
*/
.alert{
    color: #225869;
    text-align: center;
    margin-top: 15px;
}